
<h1>--판매 완료 확인--</h1>
<form name="salecomplete" method="post" action='/delete/complete'>
    <div>
        <label for="Vin">VehicleID</label>
        <input id="Vin" name="Vin" type="text" required placeholder="Vin">
    </div>
    <div>
        <input type="submit" value="판매 완료">
    </div>
</form>
</br> </br>

<h2><a href="http://localhost:7000/manage"> Go to My Managing List</a></h2>

