
</br> </br>
<h1>--Booking Now--</h1>
<form name="shopping" method="post" action='/insert/shopping'>

    <div>
        <label for="manageid">Manager ID</label>
        <input id="manageid" name="manageid" type="text" required placeholder="manageid">
    </div>
    <div>
        <label for="reservedate">Reservation Date</label>
        <input id="reservedate" name="reservedate" type="text" required placeholder="reservedate">
    </div>
    <div>
        <label for="customerid">ID</label>
        <input id="customerid" name="customerid" type="text" required placeholder="customerid">
    </div>
    <div>
        <label for="Vin">VehicleID</label>
        <input id="Vin" name="Vin" type="text" required placeholder="Vin">
    </div>
    <div>
        <input type="submit" value="예약">
    </div>


</form>
</br> </br>

<h2><a href="http://localhost:7000/select"> Go to My Reservation List and Possible Vehicle </a></h2>

